<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HCPApp.Properties.Settings.HCPAppDBConnectionString"
            connectionString="Data Source=DESKTOP-KCIUG84\SQLEXPRESS;Initial Catalog=HCPAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>